.flex-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 20px;

}

.container {
  flex-direction: column;
  border: solid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 250px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.container img {
 
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


div {
  background-color: rgb(18, 37, 143);
}

#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 25rem;
  /*aumenta tamaño del div azul*/
  text-align: center;
  margin-top: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 5em;
}

.read-the-docs {
  color: #888;
}

.containerDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border-radius: 2em;
}

.containerTitle{
  background-color: greenyellow;
  border: gray 8px dashed ;
  border-radius: 20px;
}

button {
  border: black;
  border-radius: 10em;
  background-color: rgb(121, 119, 7);
  /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(119, 121, 7), rgb(43, 255, 0));
  color: white;
}

h1 {
  color: white;
}